{% extends "base.html.twig" %}

{% block title %}Article - {{ article.title }} {% endblock %}

{% block body %}
    <div class="container">
        <div class="text-center m-4">
            {% if app.user %}
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('failed') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <h1> {{ article.title }} </h1>
            <p class="pt-4" style="font-size:1.2rem">{{ article.description | nl2br }}</p>
        </div>
        <div class="text-muted text-end" style="font-weight: 100; font-size:0.8rem">Created {{ article.createdat.format('Y-m-d') }} at {{ article.createdat.format('H:i') }} by {{ article.userid.username }} </div>

        {% include 'article/approval.html.twig' with {'article': article} %}

        {% if article.comments is not empty %} <h4>Comments :</h4> {% endif %}
        {% for comment in article.comments %}
            <div class="m-4 border-top">
                <div class="row justify-content-between ">
                    <div class="col-4"> 
                        <p class="text-left text-muted">{{ comment.userid.username }} :</p>
                    </div>
                    <div class="col-4"> 
                        <p class="text-end text-muted" style="font-weight: 100; font-size:0.8rem"> Posted {{ comment.postedat.format('Y-m-d') }} at {{ comment.postedat.format('H:i') }} </p>
                    </div>
                    <div class="col-11">
                        <blockquote class="blockquote">
                            <p class="text-start text-justify">{{ comment.commentary }}</p>
                        </blockquote>
                    </div>
                </div>
                {% if app.user and is_granted('ROLE_ADMIN') or app.user and app.user.username is same as(comment.userid.username) %}
                    <div class="row justify-content-end">
                        <div class="col-2">
                            <a href="{{ path('article.comment.edit', {id: comment.id}) }}" class="btn btn-secondary m-2">Edit</a>
                        </div>
                        {% include 'article/comment/com-approval.html.twig' with {'comment': comment} %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        
    </div>

    {% if app.user %}
        <div class="row justify-content-end">
            <div class="col-3">
                <button class="btn btn-outline-secondary mt-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Add a Comment</button>
            </div>
        </div>

        <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasBottomLabel">Your Commentary :</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body small pt-0">
                {{ form_start(form) }} 
                    <div class="row align-items-center">
                        <div class="col col-9">{{ form_row(form.commentary) }}</div>
                        <div class="col col-3"><button type="submit" class="btn btn-outline-primary mt-3">Add Comment</button></div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    {% endif %}
    
{% endblock %}